$fallbackFont: sans-serif;

$fontSamsungSharpSansBold: 'samsungsharpsans-bold', $fallbackFont;
$fontSamsungSharpSans: 'samsungsharpsans', $fallbackFont;
$fontAvenirLight: 'AvenirLTStd-Light', $fallbackFont;
$fontAvenirBasic: 'AvenirLTStd-Black', $fallbackFont;
$fontAvenirRoman: 'AvenirLTStd-Roman', $fallbackFont;
$fontAvenirHeavy: 'AvenirLTStd-Heavy', $fallbackFont;
$fontAvenirMedium: 'AvenirLTStd-Medium', $fallbackFont;
