@mixin absFiller {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
}

@mixin flexList($xSpacing, $ySpacing, $wrap: wrap) {
  padding: {
    top: $ySpacing;
    left: $xSpacing;
  };

  > * {
    display: flex;
    flex-wrap: $wrap;

    margin: {
      top: $ySpacing * -2;
      left: $xSpacing * -2;
    };

    > * {
      margin: {
        top: $ySpacing;
        left: $xSpacing;
      };
    }
  }
}
