@import '../../../assets/styles/variables/index';

.BooksListItem {
  position: relative;

  display: flex;
  width: toem(600);
  padding: toem(15);

  cursor: pointer;

  &:hover {
    border-radius: toem(5);
    box-shadow: 0 0 toem(10) rgba(0, 0, 0, 0.3);
  }

  .BooksListItem_ToggleFavorite {
    position: absolute;
    top: 2em;
    left: 2em;
  }

  img {
    max-width: toem(200);
    height: auto;
  }

  .BooksListItem_Body {
    padding-left: toem(15);

    h2 {
      font-size: toem(18);
    }

    p {
      font-size: toem(16);
    }

    span {
      font-size: toem(14);
    }
  }
}
