@import '../../../assets/styles/variables/index';

.BooksList {
  height: 100%;
  padding: 3em;

  .BooksList_Content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    padding: toem(20) toem(80);
  }
}
